fortuneteller/equations_app/__pycache__/
fortuneteller/fortuneteller/__pycache__/
fortuneteller/randomfortune/__pycache__/
fortuneteller/equations_app/migrations/__pycache__/
fortuneteller/randomfortune/miagrations/__pycache__/
