html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

li {
    list-style-type: none;
}

header {
    text-align: center;
    overflow-wrap: anywhere;
}

footer {
    text-align: center;
    /* position: sticky; */
    bottom: 10px;
    overflow-wrap: normal;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    height: 80%;
    bottom: 10px;
    width: 100%;
    min-width: 0%;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    margin-left: 140px;
    margin-right: 140px;
}

.neighbor-sliver {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: fixed;
    width: 130px;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: center;
    height: 100%;
    background: #111;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
}

.sticker-sliver {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: fixed;
    width: 130px;
    right: 0;
    top: 0;
    height: 100%;
    text-align: center;
    padding: 10px;
    background: #111;
    overflow-y: scroll;
}



#cool-links {
    display: flex;
    flex-flow: wrap column;
}

body {
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    min-width: 0;
    overflow-x: scroll;
    scrollbar-width: none;
    a {
        color: cyan;
    }
}

#prev-button, #next-button {
    color: green;
}

#prev-button:hover, #next-button:hover {
    color: lightgreen;
}

#projects {
    text-align: center;
    list-style-type: none;
}

#projects a {
    color: lightgreen;
}

#projects a:hover {
    color: aqua;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media (min-width: 900px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 10px;
    padding-top: 10px;
}

#io-fields {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.p5-figs {
    text-align: center;
}

.link-me-section {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    img {
        height: 33px;
        width: 81px;
    }
}

.test-box {
    display: flex;
    margin: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightgreen;
    width: 60px;
    height: 60px;
    background: darkgreen;
    text-align: center;
    border: 3px solid lightgreen;
    border-radius: 3px;
    #line-1 {
        top: 20px;
    }
    #line-2 {
        min-height: 0px;
    }
    #line-3 {
        bottom: 20px;
    }
}

.test-box:hover {
    background: violet;
    color: cyan;
    border-color: cyan;
}
