html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

/* For theme wallpaper fields */
.wallpaper {
    disaply: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    img {
        width: 30em;
        height: auto;
    }
}

/* Variables for theme colors */
:root,
[data-selected-theme="dark"]{
    --body-background: black;
    --body-text: white;
    --sliver-background: #222;
    --sliver-text: white;
    --button-text: green;
    --button-hover: lightgreen;
    --link-color: lightgreen;
    --link-hover: cyan;
    --box-hover: violet;
    --box-default: darkgreen;
    --box-border-hover: cyan;
    --box-border-default: lightgreen;
}

[data-selected-theme="light"]{
    --body-background: white;
    --body-text: black;
    --sliver-background: #f2f2f2;
    --sliver-text: black;
    --button-text: darkgreen;
    --button-hover: lightgreen;
    --link-color: blue;
    --link-hover: darkred;
    --box-hover: lightgreen;
    --box-default: lightblue;
    --box-border-hover: green;
    --box-border-default: darkviolet;
}

[data-selected-theme="blood-orange"]{
    --body-background: #ea6c06;
    --body-text: #710b24;
    --sliver-background: #e0642e;
    --sliver-text: #710b24;
    --button-text: darkgreen;
    --button-hover: #8b5088;
    --link-color: darkblue;
    --link-hover: darkmagenta;
    --box-hover: darkviolet;
    --box-default: green;
    --box-border-hover: lightblue;
    --box-border-default: lightgreen;
}

[data-selected-theme="pink-moon"]{
    --body-background: #BADAFF;
    --body-text: #8b5088;
    --sliver-background: #a5cefd;
    --sliver-text: #8b5088;
    --button-text: darkgreen;
    --button-hover: green;
    --link-color: darkblue;
    --link-hover: darkmagenta;
    --box-hover: orange;
    --box-default: #ea6c06;
    --box-border-hover: darkcyan;
    --box-border-default: #710b24;
}

li {
    list-style-type: none;
}

img {
    image-rendering: crisp-edges;
}

header {
    text-align: center;
    overflow-wrap: anywhere;
    .donate {
        color: var(--sliver-background);
    }
    .theme-switcher {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: column;
        button {
            background: var(--body-background);
            color: var(--body-text);
        };
        button:hover {
            background: var(--body-text);
            color: var(--body-background);
            cursor: pointer;
        };
        button[aria-pressed="true"] {
            background: var(--body-text);
            color: var(--body-background);
            border: 2px solid var(--box-border-default);
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 5%;
    /* text-align: center; */
    background: var(--body-background);
    position: fixed;
    bottom: 10px;
    overflow-wrap: anywhere;
    margin: 10px;
    padding: 10px;
    bottom: 0;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    height: 80%;
    bottom: 10px;
    width: 100%;
    min-width: 0%;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    margin-left: 140px;
    margin-right: 140px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.neighbor-sliver {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: fixed;
    width: 130px;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: center;
    height: 100%;
    background: var(--sliver-background);
    color: var(--sliver-text);
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
}

.sticker-sliver {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: fixed;
    width: 130px;
    right: 0;
    top: 0;
    height: 100%;
    text-align: center;
    padding: 10px;
    background: var(--sliver-background);
    color: var(--sliver-text);
    overflow-y: scroll;
    scrollbar-width: none;
}

.chatty {
    bottom: 10px;
    right: 10px;
    width: 88px;
    height: 31px;

    #chat-button {
        color: var(--body-text);
        background: var(--body-background);
        box-shadow: 1px 1px 1px #8b5088;
        width: 88px;
        height: 31px;
        position: fixed;
        justify-self: center;
        bottom: 10px;
        right: 10px;
    }

    #chat-button:hover {
        box-shadow: 2px 2px 3px #8b5088;
        cursor: pointer;
    }

    #chat-button:active {
        box-shadow: none;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        background: var(--body-background);
        color: var(--body-text);
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
        background: var(--sliver-background);
    }

    /* Style the collapsible content. Note: hidden by default */
    .chat-content {
        padding: 5px 5px;
        background-color: var(--sliver-background);
        color: var(--body-text);
        display: none;
        position: fixed;
        overflow-y: scroll;
        scrollbar-width: none;
        text-align: left;
        bottom: 0;
        right: 130px;
        width: 70%;
        height: 40%;
    }

    .login-form {
        padding: 5px 5px;
        background-color: var(--sliver-background);
        color: var(--body-text);
        display: none;
        position: fixed;
        overflow: scroll;
        scrollbar-width: none;
        text-align: left;
        bottom: 0;
        right: 130px;
        width: 70%;
        height: 40%;
        #submit-username-btn {
            padding-left: 3px;
            padding-right: 3px;
            background: var(--body-background);
        }
    }

    .chat-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 2px;
        bottom: 10px;
        right: 135px;
        position: fixed;
        width: 68%;
        height: 38%;
    }

    .chat-messages {
        grid-column: span 5 / span 5;
        grid-row: span 6 / span 6;
        background: var(--body-background);
        overflow-y: scroll;
        .message {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2px;
            .message-user, .message-time {
                background: var(--body-text);
                color: var(--body-background);
            }
        }
    }

    #message-input {
        grid-column: span 4 / span 4;
        grid-row-start: 7;
    }

    #send-message-btn {
        grid-column-start: 5;
        grid-row-start: 7;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        :active {
            border: none;
        }
    }

}



#cool-links {
    display: flex;
    flex-flow: wrap column;
}

body {
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    background: var(--body-background);
    color: var(--body-text);
    min-width: 0;
    overflow-x: scroll;
    scrollbar-width: none;
    a {
        color: var(--link-color);
        :hover {
            color: var(--link-hover);
        }
    }
}

#prev-button, #next-button {
    color: var(--button-text);
}

#prev-button:hover, #next-button:hover {
    color: var(--button-hover);
}

#projects {
    text-align: center;
    list-style-type: none;
}

#projects a {
    color: var(--link-color);
}

#projects a:hover {
    color: var(--link-hover);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media (min-width: 900px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 10px;
    padding-top: 10px;
    a {
        color: var(--link-color);
    }
    a:hover {
        color: (--link-hover);
    }
}

#io-fields {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: repeat(5, 1em);
    gap: 20px;
    text-align: left;
    padding-bottom: 10px;
}

.p5-figs {
    text-align: center;
}

.link-me-section {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    img {
        height: 33px;
        width: 81px;
    }
}

.test-box {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 30%;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--box-border-default);
    width: 60px;
    height: 60px;
    background: var(--box-default);
    text-align: center;
    border: 3px solid var(--box-border-default);
    border-radius: 3px;
    #line-1 {
        padding-top: 20px;
    }
    #line-2 {
        min-height: 0px;
    }
    #line-3 {
        padding-bottom: 20px;
    }
}

.test-box:hover {
    background: var(--box-hover);
    color: var(--box-border-hover);
    border-color: var(--box-border-hover);
}
